<div class="container-fluid" style="background-color: #0f0f0f;">
    <div class="row">
        <div class="col-lg-2">
            <img src="../images/logoko.png" height="74"/>
            <img src="../images/logo2.png" height="74" width="170"/>
        </div>
        <div class="col-lg-8"></div>
        <div class="col-lg-1" style="text-align: right;">
            <!--<div style="line-height: 74px;">-->
            <!--<a>登录</a>-->
            <!--</div>-->
            <div style="line-height: 74px;color: white;">
                <a style="color: white"><span class="glyphicon glyphicon-user"></span>&nbsp;Demon</a>
            </div>
        </div>
        <div class="col-lg-1">
            <div style="line-height: 74px;">
                <a style="color: white"><span class="glyphicon glyphicon-off"></span>&nbsp;注销</a>
            </div>
        </div>
    </div>
</div>